:root {
    --font-size-body: 14px;
    --font-size-larger: 16px;
    --font-size-big: 18px;
    --font-size-huge: 20px;

    --layout-main-width: 40em;


    --site-background-color: #ffffff;
    --html-background-color: ghostwhite;

}


/*
https://youtu.be/GNZwHD0aK1s?t=2324
*/