@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
@import url(https://use.fontawesome.com/releases/v5.8.2/css/all.css);

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: var(--font-size-body);
    line-height: 1.5;
    font-family: Georgia, serif;
}




@media ( min-width: 600px ) {
    html {
        font-size: var( --font-size-larger );
    }
}

@media (min-width: 1024px) {
    html {
        font-size: var(--font-size-big);
    }
}

@media (min-width: 1300px) {
    html {
        font-size: var(--font-size-huge);
    }
}


body, table, form, select, option, input, textarea {
    font: inherit;
}

.site-title{
    font-size: 2em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Times, "Times New Roman", serif;
    line-height: 1.1;
    margin: 0 0 0.5em 0;
    padding: 0;
    font-weight: normal;
}

h1 {
    font-size: 2.3em;
}

h2 {
    font-size: 2.1em;
}

h3 {
    font-size: 1.9em;
}

h4 {
    font-size: 1.6em;
}

h5 {
    font-size: 1.4em;
}

h6 {
    font-size: 1.2em;
}

p, ul, ol {
    padding-bottom: 1.5em;
}

ul, ol {
    padding-left: 2em;
}

ul ul, ol ul, ul ol, ol ol {
    padding-left: 2em;
}

blockquote {
    padding: 1rem;
}

blockquote .author {
    font-style: italic;
    text-align: right;
    opacity: 0.5;
}

blockquote .author:before {
    display: inline-block;
    content: '/2014';
    padding-left: 0.5em;
}