nav ul li a {
    background: #cccccc;
    transition: background var(--transition-speed-buttons) ease-in-out,
    color var(--transition-speed-buttons) ease-in-out;
}


.site-title:hover {
    opacity: 1;
}

.site-title {
    transform: translateX(-2em);
    opacity: 0;
    transition-delay: 1s;
    transition: opacity var(--transition-speed-buttons) ease-in-out,
    transform var(--transition-speed-buttons) ease-in-out;
}

body.loaded .site-title {
    opacity: 0.5;
    transform: translateX(0);
}