:root {
    --font-size-body: 14px;
    --font-size-larger: 16px;
    --font-size-big: 18px;
    --font-size-huge: 20px;

    --layout-main-width: 40em;


    --site-background-color: #cccccc;
    /*--site-background-color: #fff;*/
    /*--html-background-color: ghostwhite;*/
    --html-background-color: #666666;

    --transition-speed-buttons: 0.3s

}